<% @article.comments.each do |c| %>
    <p>
        <strong>Usuario:</strong>
        <%= c.commenter %>
    </p>
    <p>
        <strong>Comentario:</strong>
        <%= c.body %>
    </p>

    <p>
    

<%
=begin%>
  <%= link_to 'Eliminar Comentario', 
        [c.article, c],
        method: :destroy,
        data: {confirm: 'Estas seguro de eliminar este comentario?'} %>   
<%
=end%>


-----
  </p>  
<% end %>